<section class="class-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">CLASS TIMES & DETAILS</div>
        <div class="content-wrapper">
          <div class="text-column">
            <h2 class="card-title">Why Choose Our Ballet Classes?</h2>
            <hr class="section-divider" />
            <p class="card-text">
              Our ballet classes are designed for young dancers of all backgrounds and levels.
              With a focus on ISTD Graded ballet syllabus and Progressing Ballet Technique, along with personalized private
              tuition for exam preparation, we provide a comprehensive dance education.
            </p>
          </div>
          <div class="image-column">
            <img src="assets/images/ballet-dance-classes.png" alt="Ballet Dance Classes">
          </div>
        </div>
        <div class="card">
          <h3 class="card-title"><i class="bi bi-mortarboard-fill" style="color: #ff4a8a;"></i>&nbsp;&nbsp;Expert Instruction</h3>
          <p class="card-text">Our experienced instructors are dedicated to nurturing your child's passion for ballet
            while honing their skills.</p>
        </div>
        <div class="card">
          <h3 class="card-title"><i class="bi bi-cash-stack" style="color: #ff4a8a;"></i>&nbsp;&nbsp;Flexible Pricing</h3>
          <p class="card-text">Enjoy affordable rates at just <span class="pink">€5 per class</span> or <span
              class="pink">€50 for a 10-week term</span>.</p>
        </div>
        <div class="card">
          <h3 class="card-title"><i class="bi bi-calendar3" style="color: #ff4a8a;"></i>&nbsp;&nbsp;Tailored Timetable</h3>
          <p class="card-text">We offer convenient class times on Wednesdays, catering to different levels:</p>
          <div class="time">
            <p class="pink">Primary / Grade 1: 3:00 PM - 3:45 PM</p>
            <p class="pink">Grade 2 / Grade 3: 3:45 PM - 4:45 PM</p>
          </div>
        </div>
        <div class="card">
          <h3 class="card-title"><i class="bi bi-geo-alt-fill" style="color: #ff4a8a;"></i>&nbsp;&nbsp;Convenient Venue</h3>
          <p class="card-text">Classes are held at the welcoming <span class="pink">St. Joseph's Community Centre</span>
            in <span class="pink">Ashe Rd, Shantalla, Galway</span>.</p>
            <app-map></app-map>
        </div>
      </div>
    </div>
  </div>
</section>