<header id="header" class="header" #header>
  <h1 class="h1-large animated-text-left">Na Ealaí Damhsa | Elevate Your Ballet Journey With Eilish Heneghan<img src="assets/images/icons/ie.png" alt="Avatar" class="icon"></h1>
  <div class="wrapper">
    <div class="slider"  #sliderContainer>
      <ul class="items">
        <li><img src="assets/images/slider-img01.png" alt=""></li>
        <li><img src="assets/images/slider-img02.png" alt=""></li>
        <li><img src="assets/images/slider-img03.png" alt=""></li>
      </ul>
    </div>
    <!-- <a class="prev" (click)="prev()"></a> <a class="next" (click)="next()"></a> -->
    <div class="banner1-bg"></div>
  </div>
  <div class="wrapper">
    <div class="text-container">
      <div class="banner-1"><img class="flip" src="assets/images/banner-1.png"></div>
    
      <p class="p-large animated-text-right">
        Unlocking Potential through ISTD Graded Syllabus,<br>
        Technique Excellence, Personalized Guidance,<br>Private Ballet Tuition for Exam Preparation <br>for all backgrounds and levels in Shantalla, Galway.<br>
        All Teens and Young Children are welcomed!
      </p>
      <a class="btn-outline-lg" href="#classes">Class Details</a>
    </div>
  </div>
</header>